/* .img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25;
} */

/* .mat-mdc-tab .mdc-tab__text-label {
    color: #888888 !important;
} */

.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}